$mk-light-blue: #d3e4ff;
$mk-dark-blue: #2b6acd;
$mk-light-gray: #e2e2e2;
$mk-medium-gray: #999999;
$mk-dark-gray: #333;

$page-width: 1000px;
$menubar-height: 50px;

body {
	background-image: url("/images/meadow.JPG");
  background-repeat: repeat-y;
  background-size: 100% auto;

	.menu-bar {
		position: fixed;
		left: 50%;
		transform: translateX(-50%);
		top: 0px;
		width: $page-width;
		height: $menubar-height;
	  overflow: hidden;
	  background-color: #333;
	  z-index: 100;
	}
	.menu-bar a {
	  float: left;
	  display: block;
	  color: #f2f2f2;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 17px;
	  border: 1px solid black;
	}
	.menu-bar a:hover {
	  background-color: #ddd;
	  color: black;
	}
	.menu-bar a.active {
	  background-color: #4CAF50;
	  color: white;
	}

	.dyn-page {
		position: absolute;
		top: $menubar-height;
		left: 50%;
		transform: translateX(-50%);
		background-color: $mk-light-gray;
		height: 500%;
		margin: 0 auto;
		width: $page-width;
		z-index: 1;
	}
}