$mk-light-blue: #d3e4ff;
$mk-dark-blue: #2b6acd;
$mk-light-gray: #e2e2e2;
$mk-medium-gray: #999999;
$mk-dark-gray: #333;

body {
	margin: 0;

	.menu-bar {
	  overflow: hidden;
	  background-color: #333;
	}
	.menu-bar a {
	  float: left;
	  display: block;
	  color: #f2f2f2;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 17px;
	  border: 1px solid black;
	}
	.menu-bar a:hover {
	  background-color: #ddd;
	  color: black;
	}
	.menu-bar a.active {
	  background-color: #4CAF50;
	  color: white;
	}
	.dyn-page {
		position: absolute;
		top: 100px;
		left: 50px;
		width: 700px;
	}

	// #about {
	// 	position: absolute;
	// 	top: 100px;
	// 	left: 50px;
	// 	width: 650px;
	// }

	// #projects {
	// 	position: absolute;
	// 	top: 100px;
	// 	left: 50px;
	// 	width: 650px;
	// }
}