<html>
  <head>
    <title>milo knowles</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      // Bootstrap CSS.
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      // Linear icons.
      <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

      // Local stylesheets.
      <link rel="stylesheet" href="/css/animate.min.css">
      <link rel="stylesheet" href="/css/normalize.css">
      <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="/css/text.css">
      <link rel="stylesheet" href="/css/buttons.css">
      <link rel="stylesheet" href="/css/index.css">

      // Font awesome icons.
      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

      // MathJax for LATEX rendering.
      // https://docs.mathjax.org/en/latest/start.html#putting-mathematics-in-a-web-page
      <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
      </script>
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="50">
    // Navbar at top of page.
    include navbar.pug

    // INSERT PAGE HERE //
    block content
      p This page doesn't have any content yet.
    // INSERT PAGE HERE //

    // Footer.
    <footer class="page-footer font-small indigo mt-4">
      <div class="footer-copyright text-center py-3">© 2019 Milo Knowles</div>
    </footer>
    
    // Load javascript at the end of the body for faster page load.
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    //- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    // Load WOW for dynamic animations upon scroll.
    //- <script type="text/javascript" src="/javascript/wow.min.js"></script>
    //- <script>new WOW().init();</script>

    // Firebase.
    <script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>

    // Load my javascript bundle last.
    <script type="text/javascript" src='/bundle.js'></script>
  </body>
</html>
