<div class="list-group wow fadeInLeft">
  <a href="/projects/maslab" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">MASLAB 2017</h5>
    </div>
    <p class="mb-1">An autonomous block-stacking robot</p>
  </a>
  <a href="/images/pdf/6.819_final_project.pdf" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">6.819 Final Project</h5>
    </div>
    <p class="mb-1">3D obstacle reconstruction using stereo vision on the MIT Cheetah 3 robot</p>
  </a>
  <a href="/projects/wavenet" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">WaveNet Encoding Analysis</h5>
    </div>
    <p class="mb-1">Analysis of temporal embeddings from Google Magenta's WaveNet autoencoder.</p>
  </a>
  <a href="/images/pdf/lacroixnet.pdf" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">6.819 MiniPlaces Challenge</h5>
    </div>
    <p class="mb-1">Trained a CNN to classify 100 different scene categories, and nearly bankrupted ourselves on AWS S3. Also played around with Geoffrey Hinton's Capsule Networks!</p>
  </a>
  <a href="https://github.com/milokhl/personal-website" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">This website</h5>
    </div>
    <p class="mb-1">Made with express.js, node.js, pug, markdown, and bootstrap</p>
  </a>
  <a href="/projects/led_light_controller" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">LED Light Controller</h5>
    </div>
    <p class="mb-1">Controlling LED lights over bluetooth through an iOS app</p>
  </a>
  <a href="https://devpost.com/software/tourdemarsvr" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">HACKMIT 2016</h5>
    </div>
    <p class="mb-1">A cooperative VR game with some janky hardware</p>
  </a>
  <a href="/projects/drone_photography" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Drone Photography</h5>
    </div>
    <p class="mb-1">Shot with a DJI Mavic Pro</p>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Trading with Deep Q-Learning</h5>
    </div>
    <p class="mb-1">#TODO</p>
  </a>
</div>
