h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 400;
  line-height: 1.4em;
}

/* Set the font. */
body {
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000;
}

/* Make default font sizes a little larger. */
h1 {
  font-size: 50px;
}
h2 {
  font-size: 28px;
}
